body {
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

h1,
p {
  font-size: 24px;
  text-align: center;
}

div {
  display: flex;
  justify-content: center;
}
